[connectivity] 
nk=load:1:load_1
nk=store:1:store_1
nk=caloclusternet:1:caloclusternet_1

#Load AXI Interface
sp=load_1.inputNumList:DDR
sp=load_1.inFeatureList:DDR

# Caloclusternet Inputs
sc=load_1.outputFeatureStream:caloclusternet_1.input_stream:128
sc=load_1.num_stream_0:caloclusternet_1.num_stream_0:1024
sc=load_1.num_stream_1:caloclusternet_1.num_stream_1:1024

# Store Inputs
sc=caloclusternet_1.layer_24_stream:store_1.layer_24_stream:128
sc=caloclusternet_1.layer_25_stream:store_1.layer_25_stream:128

# Store AXI Interface
sp=store_1.numList:DDR
sp=store_1.featureList:DDR

[profile] 
data=all:all:all
exec=all:all
#aie=all