#part=xcvc1902-vsva2197-2MP-e-S

[hls]
clock=350MHz
flow_target=vitis
package.output.format=xo
package.output.syn=true
syn.file=../src/pl/store/store.cpp
syn.file=../src/pl/store/store.h
syn.top=store
syn.rtl.kernel_profile=1
syn.cflags=-I../../../libraries/pcnhlslib -I../src/pl
syn.rtl.register_reset_num=32
syn.dataflow.fifo_depth=16
syn.interface.m_axi_max_read_burst_length=64
syn.interface.m_axi_max_widen_bitwidth=1024
syn.interface.m_axi_max_write_burst_length=64
syn.interface.m_axi_conservative_mode=0
syn.interface.m_axi_alignment_byte_size=128
csim.sanitize_address=1
csim.code_analyzer=0
csim.sanitize_undefined=1
cosim.enable_dataflow_profiling=true
cosim.enable_fifo_sizing=0
cosim.enable_tasks_with_m_axi=0
cosim.rtl=verilog
cosim.trace_level=all
cosim.stable_axilite_update=1