[connectivity] 
nk=load:1:load_1
nk=store:1:store_1
nk=a:1:a_1
nk=c:1:c_1
nk=e:1:e_1
nk=g:1:g_1

#Load AXI Interface
sp=load_1.inputNumList:DDR
sp=load_1.inFeatureList:DDR

# Partition A Inputs
sc=load_1.outputFeatureStream_0:a_1.input_stream_0:128
sc=load_1.outputFeatureStream_1:a_1.input_stream_1:128

# Partition B Inputs
sc=a_1.layer_0_plio_0:ai_engine_0.layer_0_input_0:128
sc=a_1.layer_0_plio_1:ai_engine_0.layer_0_input_1:128
sc=a_1.layer_0_plio_2:ai_engine_0.layer_0_input_2:128
sc=a_1.layer_0_plio_3:ai_engine_0.layer_0_input_3:128

#Partition C Inputs
sc=ai_engine_0.layer_34_output_0:c_1.layer_34_plio_0:128
sc=ai_engine_0.layer_34_output_1:c_1.layer_34_plio_1:128
sc=ai_engine_0.layer_34_output_2:c_1.layer_34_plio_2:128
sc=ai_engine_0.layer_34_output_3:c_1.layer_34_plio_3:128
sc=load_1.num_stream_0:c_1.num_stream:1024

#Partition D Inputs
sc=c_1.layer_5_plio_0:ai_engine_0.layer_5_input_0:128
sc=c_1.layer_5_plio_1:ai_engine_0.layer_5_input_1:128
sc=c_1.layer_5_plio_2:ai_engine_0.layer_5_input_2:128
sc=c_1.layer_5_plio_3:ai_engine_0.layer_5_input_3:128

#Partition E Inputs
sc=ai_engine_0.layer_1011_output_0:e_1.layer_1011_plio_0:128
sc=ai_engine_0.layer_1011_output_1:e_1.layer_1011_plio_1:128
sc=ai_engine_0.layer_1011_output_2:e_1.layer_1011_plio_2:128
sc=ai_engine_0.layer_1011_output_3:e_1.layer_1011_plio_3:128
sc=load_1.num_stream_1:e_1.num_stream:1024

#Partition F Inputs
sc=a_1.layer_1_plio_0:ai_engine_0.layer_1_input_0:2048
sc=a_1.layer_1_plio_1:ai_engine_0.layer_1_input_1:2048
sc=a_1.layer_1_plio_2:ai_engine_0.layer_1_input_2:2048
sc=a_1.layer_1_plio_3:ai_engine_0.layer_1_input_3:2048
sc=e_1.layer_12_plio_0:ai_engine_0.layer_12_input_0:128
sc=e_1.layer_12_plio_1:ai_engine_0.layer_12_input_1:128
sc=e_1.layer_12_plio_2:ai_engine_0.layer_12_input_2:128
sc=e_1.layer_12_plio_3:ai_engine_0.layer_12_input_3:128

#Partition G Inputs
sc=a_1.energy_stream_0:g_1.energy_stream_0:2048
sc=a_1.energy_stream_1:g_1.energy_stream_1:2048
sc=ai_engine_0.layer_17_output_0:g_1.layer_17_plio_0
sc=ai_engine_0.layer_17_output_1:g_1.layer_17_plio_1
sc=ai_engine_0.layer_17_output_2:g_1.layer_17_plio_2
sc=ai_engine_0.layer_17_output_3:g_1.layer_17_plio_3

# Store Inputs
sc=g_1.layer_24_stream:store_1.layer_24_stream:128
sc=g_1.layer_25_stream_0:store_1.layer_25_stream_0:128
sc=g_1.layer_25_stream_1:store_1.layer_25_stream_1:128

# Store AXI Interface
sp=store_1.numList:DDR
sp=store_1.featureList:DDR

[profile] 
data=load:all:all
data=store:all:all
exec=load:all
exec=store:all
#aie=all

#[vivado]
#prop=run.synth_1.STRATEGY=Flow_PerfOptimized_High
#prop=run.synth_1.STEPS.SYNTH_DESIGN.ARGS.GLOBAL_RETIMING=on
#impl.strategies=Performance_ExplorePostRoutePhysOpt,Performance_NetDelay_high
#impl.jobs=8 

